
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  

  .input-box {
    width: 90%; 
    padding: 40px; 
    font-size: 18px; 
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px; 
  }
  

  .submit-button {
    background-color: #ccc; 
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer;
  }
  
  
  .submit-button:hover {
    background-color: #888; 
  }

  .output-box {
    width: 600px; 
    height: 280px; 
    padding: 20px; 
    font-size: 18px; 
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }